{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Farrier Management System">
        <meta name="author" content="Joseph Krakos Jr">

        <!-- Preconnect to improve performance -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://cdn.jsdelivr.net">

        <!-- Favicon -->

        <!-- Browser Configuration -->

        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        >

        {% block styles %}{% endblock %}
        <link rel="stylesheet" href="{% static 'service/css/base.css' %}">
        
        <script
            src="https://kit.fontawesome.com/8f5b2d3aa3.js"
            crossorigin="anonymous"
            data-search-pseudo-elements>
        </script>

        <title>Krakos Shoeing | {% block title %}{% endblock %}</title>
    </head>

    <body>

        <nav class="navbar navbar-dark fixed-top">
            <div class="container-fluid">

                <div class="logo-container">
                    <a href="{% url 'service:dashboard' %}">
                        <img
                            class="logo"
                            src="{% static 'service/images/Logo6.png' %}"
                            alt="Krakos Shoeing Logo"
                        />
                    </a>
                </div>

                {% if user.is_authenticated %}

                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasDarkNavbar"
                        aria-controls="offcanvasDarkNavbar"
                        aria-label="Toggle navigation"
                    >
                        <svg class="navbar-toggler-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                            <path
                                stroke="var(--gs-mid)"
                                stroke-linecap="round"
                                stroke-miterlimit="10"
                                stroke-width="2"
                                d="M4 7h22M4 15h22M4 23h22"
                            />
                        </svg>
                    </button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">

                        <div class="offcanvas-header">

                            <h5 class="company-name offcanvas-title" id="offcanvasDarkNavbarLabel">
                                Krakos Shoeing
                            </h5>
                            
                            <button
                                type="button"
                                class="btn-close btn-close-white"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                            >
                            </button>

                        </div>

                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'service:dashboard' %}">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'service:clients' %}">Clients</a>
                                </li>

                                <li class="locations-drop nav-item dropdown">

                                    <a class="locations-toggle nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </a>

                                    {% block nav %}
                                    {% endblock %}

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'auctions:logout' %}">
                                        Log Out
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>

                {% else %}
                
                    <ul class="auth-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'service:login' %}">
                                Log In
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'service:register' %}">
                                Register
                            </a>
                        </li>

                    </ul>

                {% endif %}

            </div>
        </nav>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous">
        </script>
    </body>

</html>