{% extends "service/layout.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'service/css/auth_form.css' %}">
{% endblock %}

{% block main %}

    <div class="auth-form-container">

        <h1>Login</h1>

        <form action="{% url 'service:login' %}" method="post">

            {% csrf_token %}
            {{ form }}

            <button
                class="login-btn" 
                type="submit"
                name="login"
                aria-label="login"
            >
                Login
            </button>

        </form>

        <p>
            Don't have an account? <a href="{% url 'service:register' %}">Register here.</a>
        </p>    

    </div>

{% endblock %}