{% extends "service/layout.html" %}
{% load static %}

{% block title %}
    New Job
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'service/css/job_form.css' %}">
{% endblock %}

{% block main %}
    <div class="form-container">

        <h1>New Job</h1>

        <form action="{% url 'service:new_job' %}" method="post">

            {% csrf_token %}
            {{ form }}

            <button
                class="login-btn form-btn" 
                type="submit"
                name="login"
                aria-label="login"
            >
                Add Job
            </button>

        </form>   

    </div>
{% endblock %}