{% extends "service/layout.html" %}
{% load static %}

{% block title %}
    New Client
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'service/css/client_form.css' %}">
{% endblock %}

{% block main %}

    <div class="form-container">

        <h1>New Client</h1>

        <form action="{% url 'service:new_client' %}" method="post">

            {% csrf_token %}
            <div class="name-wrapper">
                {{ form.first_name }}
                {{ form.last_name }}
            </div>

            <div class="photo-business-wrapper">
                {{ form.photo }}
                {{ form.business_name }}
            </div>

            <div class="number-email-wrapper">
                {{ form.phone_number }}
                {{ form.email }}
            </div>

            <button
                class="add-client-btn form-btn" 
                type="submit"
                name="add-client"
                aria-label="Add client"
            >
                Add Client
            </button>

        </form>    

    </div>

{% endblock %}