{% extends "service/layout.html" %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'service/css/auth_form.css' %}">
{% endblock %}

{% block main %}

    <div class="form-container">

        <h1>Register</h1>

        <form action="{% url 'service:register' %}" method="post">

            {% csrf_token %}
            {{ form }}

            <button
                class="register-btn form-btn" 
                type="submit"
                name="register"
                aria-label="Register"
            >
                Register
            </button>

        </form>

        <p>
            Already have an account? <a href="{% url 'service:login' %}">Log In here.</a>
        </p>

    </div>

{% endblock %}