body {
    box-sizing: border-box;

    .navbar {
        position: sticky;
        border-bottom: 1px solid #014488;

        .logo-container {
            width: 50px;
            height: 50px;

            .logo {
                width: 100%;
            }
        }

        .navbar-toggler {
            position: relative;
            border: none;
            outline: none;

            &:focus {
                box-shadow: 0 0 0.2rem 0 #014488c5;
            }
        }

        .offcanvas-header {
            background-color: #000;
        }

        .offcanvas-body {

            .navbar-nav li a {
                color: #000;
            }
        }

        .auth-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            margin: 0;
            padding: 0;
            list-style: none;

            .nav-link:hover {
                color: #014488;
            }
        }
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: calc(100dvh - 67px);
        padding: 10px;

        .alert-error {
            color: var(--bs-danger);
        }

        .alert-success {
            color: var(--bs-success);
        }
    }

}