.client-list-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
    }

    a {
        padding: 5px 25px;
        border-radius: 4px;
        text-decoration: none;
        background-color: var(--primary-color);

        &:hover {
            background-color: var(--primary-hover);
        }

        .bi-person-add {
            color: #fff;
            font-size: 1em;
        }
    }
}

.client-cards {

    .card {

        .card-dropdown {
            display: flex;
            justify-content: end;
            padding: 7px;
            border-radius: var(--bs-card-border-radius) var(--bs-card-border-radius) 0 0;
            background-color: var(--primary-color);

            .drop-btn {
                color: #fff;
                border: none;
                background-color: transparent;
            }
        }

        header {
            
            a {
                display: block;
                width: 75px;
                position: relative;
                top: -30px;
                left: 20px;

                img {
                    width: 100%;
                    border: 2px solid #fff;
                    border-radius: 50px;
                }
            }

            h2 {
                margin: 0;
            }

            span {
                color: gray;
            }
        }
    }
}